*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    width: 300px;
    height: 300px;
    margin-top: 170px;   
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 150px;
    height: 75px;
    background-color: gray;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.inner-circle{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(-11.25%);
}

.btn:focus .inner-circle{
    margin-left: 60px;
}

.btn:focus{
    background-color: #00acee;
    outline: none;
} 